body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    padding: 10px;
  }

  li{
    list-style: none;
    justify-content: space-between;
  }
 
  h1,h2,h3,h4,h4,h6,p{
    color:white
  }

  .dropdown-toggle{
    cursor:pointer
  }
  .cursor{
    cursor:pointer;
  }

  .custom-card {
    width: 260px; /* Adjust the width value as needed */
  }
  .Headings:hover{
    cursor:pointer;
  }

  
  .buy{
    padding: 5px 15px;
    border-radius: 10px;
    margin:2px;
  }

  .buy:hover{
    background-color: green;
  }

  .sell{
    padding: 5px 15px;
    border-radius: 10px;
    margin:2px;
  }

  .sell:hover{
    background-color: red;
  }


  .dropdown-content {
    display: block;
    position: right;
    background-color: #191b1d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(145, 143, 143, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(155, 149, 149);
  }


  .formation-content {
    display: block;
    position: right;
    background-color: #191b1d;
    min-width: 40px;
    height:48px;
    box-shadow: 0px 8px 16px 0px rgba(145, 143, 143, 0.2);
    z-index: 1;
  }
  
  .formation-content li {
    color: white;
    padding: 12px 8px;
    text-decoration: none;
    display: block;
  }
  
  .formation-content li:hover {
    background-color: rgb(155, 149, 149);
  }
  


  
  
  