body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    padding: 10px;
  }

  li{
    list-style: none;
    justify-content: space-between;
  }
 
  h1,h2,h3,h4,h4,h6,p{
    color:white
  }

  .dropdown-toggle{
    cursor:pointer
  }
  .cursor{
    cursor:pointer;
  }

  .custom-card {
    width: 260px; /* Adjust the width value as needed */
  }
  .Headings:hover{
    cursor:pointer;
  }

  
  .buy{
    padding: 5px 25px;
    border-radius: 10px;
  }

  .buy:hover{
    background-color: green;
  }

  .sell{
    padding: 5px 25px;
    border-radius: 10px;
  }

  .sell:hover{
    background-color: red;
  }


 
  
  .hamburger {
    display: inline-block;
    width: 30px;
    height: 15px;
    cursor: pointer;
    position: relative;
  }
  
  .line {
    width: 100%;
    height: 4px;
    background-color: #fff;
    margin-bottom: 5px;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #333;
    transform: translateX(-200px);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
    border-bottom: 1px solid #666;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #fff;
  }
  
  .open {
    left: 0;
  }
  
  .content {
    transition: margin-left 0.3s;
    margin-left: 0;
  }
  
  .shifted {
    margin-left: 200px;
  }

  /* Existing CSS styles */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
  }
  
  